<script src="./home/home.js"></script>

</body>

<footer>
    <p>&copy; 2020 Pepeworm</p>
    <a href="https://github.com/pepeworm/homework-agenda" target="_blank"><i class="fab fa-github"></i> View Code</a>
</footer>

</html>