<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>

    <!-- Favicon -->

    <link rel="icon" href="../images/favicon.ico">

    <!-- CSS -->

    <link rel="stylesheet" href="../index/index.css">

    <!-- Font Family -->

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body>
    <nav>
        <a href="/" class="nav-home-link"><img src="../../images/favicon.ico" alt="logo"></a>

        <div class="btn-container">
            <a href="/register" class="btn btn-register">Register</a>
            <a href="/login" class="btn btn-login">Login</a>
        </div>
    </nav>

    <div class="home">
        <h1>Record Your Work with <span class="underline">Homework Agenda</span></h1>
        <p>A simple and easy website to manage all your tasks in one place.</p>

        <img src="../../images/hw-agenda-screenshot.png" alt="Website Snapshot">
    </div>

    <div class="features">
        <h2>Features</h2>

        <div class="feature-box">
            <div class="head-content">
                <h3>Easy-To-Organize Structure</h3>
                <p>The minimalistic design that allows users to have their work clearly and cleanly laid out. Simply
                    enter subjects in the subjects page, and enter work for that subject by clicking the subject!</p>
            </div>

            <img src="../../images/hw-agenda-screenshot.JPG" alt="Feature Screenshot">
        </div>

        <hr>

        <div class="feature-box">
            <div class="head-content">
                <h3>Navigation Bar for Easy Navigation</h3>
                <p>The Navigation Bar allows users to easily navigate around the site to see work for each subject. Simply enter a subject, and the Navigation Bar will automatically add the subject!</p>
            </div>

            <img src="../../images/navbar-img.JPG" alt="Navigation Bar Screenshot">
        </div>
    </div>

    <div class="register-login">
        <h2>Start Using <span class="underline">Homework Agenda</span> Today!</h2>

        <div class="btn-container">
            <a href="/register" class="btn btn-register">Register</a>
            <a href="/login" class="btn btn-login">Login</a>
        </div>
    </div>
</body>

<footer>
    <p>&copy; 2020 Pepeworm</p>
    <a href="https://github.com/pepeworm/homework-agenda" target="_blank"><i class="fab fa-github"></i> View Code</a>
</footer>

</html>