<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>

    <!-- Favicon -->

    <link rel="icon" href="../../../../images/favicon.ico">

    <!-- CSS -->

    <link rel="stylesheet" href="../../../../login/login.css">

    <!-- Font Family -->

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body>
    <nav>
        <a href="/" class="nav-home-link"><img src="../../../../images/favicon.ico" alt="logo"></a>

        <div class="btn-container">
            <a href="/register" class="btn btn-register">Register</a>
            <a href="/login" class="btn btn-login">Login</a>
        </div>
    </nav>

    <form method="POST" action="/login">
        <i class="fas fa-key fa-4x"></i>

        <div class="container">
            <div class="oauth">
                <a href="/auth/google"><i class="fab fa-google"></i> Sign In with Google</a>
            </div>

            <div class="email-pwd">
                <input type="email" name="username" placeholder="Email" autocomplete="off" autofocus required>

                <input type="password" name="password" placeholder="Password" autocomplete="off" required>
                <% if (err === "emailOrPasswordErr") { %>
                <p class="err-msg emailOrPasswordErr">* Email or password is incorrect</p>
                <% } %>

                <button type="submit">Login</button>
            </div>
        </div>
    </form>
</body>

<footer>
    <p>&copy; 2020 Pepeworm</p>
    <a href="https://github.com/pepeworm/homework-agenda" target="_blank"><i class="fab fa-github"></i> View Code</a>
</footer>

</html>