::-moz-selection {
  color: #fff;
  background: #353535;
}

::selection {
  color: #fff;
  background: #353535;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #353535;
  text-align: center;
}

html {
  padding: 0 0 6rem;
  overflow-x: hidden;
  background-color: #577be9;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: #232323;
  padding: 0.8rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 6rem;
  width: 100%;
}

nav img {
  width: 2rem;
}

nav .hamburger-container {
  width: 28px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  position: absolute;
  right: 2.5rem;
}

nav .hamburger-container .line-one,
nav .hamburger-container .line-two,
nav .hamburger-container .line-three {
  width: 100%;
  height: 3px;
  border-radius: 0.4rem;
  background: rgba(255, 255, 255, 0.7);
}

nav .hamburger-container:hover .line-one,
nav .hamburger-container:hover .line-two,
nav .hamburger-container:hover .line-three {
  background: #e9e9e9;
}

nav .hamburger-container .toggle-one,
nav .hamburger-container .toggle-two {
  display: none;
}

nav .hamburger-container.burger-click {
  top: 1.8rem;
}

nav .hamburger-container.burger-click .line-one,
nav .hamburger-container.burger-click .line-two,
nav .hamburger-container.burger-click .line-three {
  display: none;
}

nav .hamburger-container.burger-click .toggle-one,
nav .hamburger-container.burger-click .toggle-two {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 0.4rem;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
}

nav .hamburger-container.burger-click:hover .toggle-one,
nav .hamburger-container.burger-click:hover .toggle-two {
  background: #e9e9e9;
}

nav .hamburger-container.burger-click .toggle-one {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .hamburger-container.burger-click .toggle-two {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav ul {
  padding: 0;
  display: none;
}

nav ul li {
  list-style: none;
  margin: 0.4rem 0;
}

nav ul li:first-child {
  margin-top: 1.5rem;
}

nav ul li.no-work {
  color: rgba(255, 255, 255, 0.8);
}

nav ul li a {
  text-decoration: none;
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 80ms linear;
  transition: color 80ms linear;
}

nav ul li a:hover {
  color: #e9e9e9;
}

nav.nav-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav.nav-open ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

nav.nav-open ul li {
  text-align: center;
}

h1.home-header {
  font-size: 2.5rem;
  padding: 0.8rem 2.5rem;
  background: white;
  margin: 0 auto 3rem;
  -webkit-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid #353535;
  max-width: 85%;
}

.subject-box {
  border: 1px solid #353535;
  background: white;
  padding: 1.5rem 3rem;
  text-align: center;
  -webkit-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
  margin: auto;
  max-width: 85%;
}

.subject-box p {
  font-weight: 700;
  font-size: 2rem;
}

.subject-box hr {
  margin: 0.8rem auto 3.5rem;
  border: 1px solid rgba(47, 126, 245, 0.9);
  background-color: rgba(47, 126, 245, 0.9);
}

.subject-box .new-subject-form {
  margin-top: 2.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.subject-box .new-subject-form input[name="newSubject"] {
  border: none;
  outline: none;
  padding: 0.5rem 0;
  font-size: 1.3rem;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 200ms linear;
  transition: -webkit-box-shadow 200ms linear;
  transition: box-shadow 200ms linear;
  transition: box-shadow 200ms linear, -webkit-box-shadow 200ms linear;
}

.subject-box .new-subject-form input[name="newSubject"]:focus {
  outline: none;
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(47, 126, 245, 0.9);
          box-shadow: inset 0 -2px 0 0 rgba(47, 126, 245, 0.9);
}

.subject-box .new-subject-form ::-webkit-input-placeholder {
  color: #5a5a5a;
  opacity: 1;
}

.subject-box .new-subject-form :-ms-input-placeholder {
  color: #5a5a5a;
  opacity: 1;
}

.subject-box .new-subject-form ::-ms-input-placeholder {
  color: #5a5a5a;
  opacity: 1;
}

.subject-box .new-subject-form ::placeholder {
  color: #5a5a5a;
  opacity: 1;
}

.subject-box .new-subject-form button {
  margin-left: 1rem;
  cursor: pointer;
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgba(47, 126, 245, 0.9);
  color: #fff;
  font-size: 30px;
  border-width: 0;
}

.subject-box .new-subject-form button:focus {
  outline: none;
}

.subject-box form.subject-delete-form {
  width: 90%;
  margin: auto;
}

.subject-box form.subject-delete-form .subject-block {
  margin-top: 2.5rem;
  display: block;
}

.subject-box form.subject-delete-form .subject-block input[type="checkbox"] {
  margin-right: 0.6rem;
  cursor: pointer;
  border: 1px solid #353535;
}

.subject-box form.subject-delete-form .subject-block input[type="checkbox"]:checked {
  outline: none;
}

.subject-box form.subject-delete-form .subject-block input[type="checkbox"]:checked + a {
  text-decoration: line-through;
  -webkit-text-decoration-color: #0b5bd5;
          text-decoration-color: #0b5bd5;
}

.subject-box form.subject-delete-form .subject-block a {
  font-size: 1.4rem;
  color: #0b5bd5;
  text-decoration: none;
  font-weight: 500;
  width: 80%;
}

.subject-box form.subject-delete-form .subject-block a:hover {
  border-bottom: 1px solid #0b5bd5;
}

footer {
  margin-top: 2.8rem;
}

footer a {
  color: #e9e9e9;
}

footer p {
  color: #e9e9e9;
  margin-bottom: 1.2rem;
}

footer a {
  padding: 0.4rem 0.6rem;
  border: 1px solid #e9e9e9;
  font-size: 0.9rem;
  text-decoration: none;
  background: transparent;
  -webkit-transition: color 200ms linear, background 200ms linear;
  transition: color 200ms linear, background 200ms linear;
}

footer a:hover {
  background: #e9e9e9;
  color: #577be9;
}

footer a:hover i {
  color: #577be9;
}

footer a i {
  color: #e9e9e9;
  font-size: 0.9rem;
  margin-right: 0.1rem;
}
/*# sourceMappingURL=homeMain.css.map */