// SCSS Mixin

@mixin boxWidth {
    display: flex;
    flex-direction: column;
}

// SCSS Variables

$darkGrey: #353535;
$lightGrey: #e9e9e9;
$blue: #0b5bd5;
$lightBlue: rgb(87, 123, 233);

::selection {
    color: #fff;
    background: $darkGrey;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: $darkGrey;
    text-align: center;
}

html {
    padding: 6rem 0;
    overflow-x: hidden;

    background-color: $lightBlue;
}

body {
    @include boxWidth();
}

h1 {
    background: #fff;
    padding: 0.6rem 2.8rem;
    border-radius: 0.4rem;
    border: 1px solid $darkGrey;
    max-width: 85%;
    font-size: 3.5rem;
    margin: 0 auto 2rem;
    display: block;
}

p.body-p {
    display: block;
    margin: 0 auto 2rem;
    font-weight: 600;
    font-size: 1.4rem;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    border: 1px solid $darkGrey;
    max-width: 60ch;
}

h3 {
    display: block;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.2rem;

    background: #fff;
    padding: 0.6rem 2.8rem;
    border-radius: 0.4rem;
    border: 1px solid $darkGrey;
    max-width: 85%;
    font-size: 3.5rem;
    margin: 0 auto 2rem;
    display: block;
}

footer {
    p {
        color: $lightGrey;
        margin-top: 3rem;
    }
}