// SCSS Mixin

@mixin boxWidth {
    display: flex;
    flex-direction: column;
}

// SCSS Variables

$darkGrey: #353535;
$blue: #0b5bd5;
$lightBlue: rgb(87, 123, 233);

::selection {
    color: #fff;
    background: $darkGrey;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: $darkGrey;
    text-align: center;
}

html {
    padding: 0 0 6rem;
    overflow-x: hidden;

    background-color: $lightBlue;
}

body {
    @include boxWidth();
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background: #232323;
    padding: 0.8rem 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 6rem;
    width: 100%;

    img {
        width: 2rem;
    }

    .hamburger-container {
        width: 28px;
        height: 19px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: absolute;
        right: 2.5rem;

        .line-one,
        .line-two,
        .line-three {
            width: 100%;
            height: 3px;
            border-radius: 0.4rem;
            background: rgba(#fff, 0.7);
        }

        &:hover {

            .line-one,
            .line-two,
            .line-three {
                background: #e9e9e9;
            }
        }

        .toggle-one,
        .toggle-two {
            display: none;
        }

        &.burger-click {
            top: 1.8rem;

            .line-one,
            .line-two,
            .line-three {
                display: none;
            }

            .toggle-one,
            .toggle-two {
                display: block;
                width: 100%;
                height: 3px;
                border-radius: 0.4rem;
                background: rgba(#fff, 0.8);
                position: absolute;
            }

            &:hover {

                .toggle-one,
                .toggle-two {
                    background: #e9e9e9;
                }
            }

            .toggle-one {
                transform: rotate(45deg);
            }

            .toggle-two {
                transform: rotate(-45deg);
            }
        }
    }

    ul {
        padding: 0 0 0.5rem;
        display: none;

        .account {
            a, i {
                text-decoration: none;
                color: rgba(#fff, 0.8);
                font-size: 0.9rem;
            }

            a {
                border: 1px solid rgba(#fff, 0.8);
                padding: 0.4rem 0.6rem;
                text-decoration: none;
                background: transparent;
                transition: color 200ms linear, background 200ms linear;

                i {
                    margin-right: 0.1rem;
                }

                &:hover {
                    background: rgba(#fff, 0.8);
                    color: $darkGrey;

                    i {
                        color: $darkGrey;
                    }
                }
            }
        }

        hr.menu-divide {
            margin: 0.5rem 0 1.4rem;
            border-style: solid;
        }

        li {
            list-style: none;
            margin: 0.4rem 0;

            &:first-child {
                margin-top: 1.5rem;
            }

            &.no-work {
                color: rgba(#fff, 0.8);
            }

            a {
                text-decoration: none;
                font-size: 1.15rem;
                color: rgba(#fff, 0.8);
                transition: color 80ms linear;

                &:hover {
                    color: #e9e9e9;
                }
            }
        }
    }

    &.nav-open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;

            li {
                text-align: center;
            }
        }
    }
}

h1 {
    &.home-header {
        font-size: 2.5rem;
        padding: 0.8rem 2.5rem;
        background: rgb(255, 255, 255);
        margin: 0 auto 3rem;
        box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
        border: 1px solid $darkGrey;
        max-width: 85%;
    }
}

.subject-box {
    border: 1px solid $darkGrey;
    background: white;
    padding: 1.5rem 3rem;
    text-align: center;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
    margin: auto;
    max-width: 85%;
    min-width: 30rem;

    p.weekday {
        font-weight: 700;
        font-size: 2.2rem;
    }

    hr {
        margin: 0.8rem auto 4rem;
        border: 1px solid rgba(#2f7ef5, 0.9);
        background-color: rgba(#2f7ef5, 0.9);
    }

    hr.hr-two {
        margin: 4rem auto 0;
    }

    .new-subject-form {
        margin-top: 1.5rem;
        display: block;

        .subject-item-fields {
            display: block;
            margin-bottom: 1.3rem;
            margin-left: auto;
            margin-right: auto;
            padding: 0.5rem 0;
            border: 1px solid $darkGrey;
            font-size: 1rem;
            color: $darkGrey;

            transition: border 350ms;

            &:focus {
                outline: none;
                border: 1px solid $lightBlue;
            }
        }

        input.subject-item-title {
            width: 100%;
        }

        textarea.subject-item-body {
            resize: vertical;
            width: 100%;
        }

        input.subject-item-footer {
            width: 100%;
        }
    }

    ::placeholder {
        color: #5a5a5a;
        opacity: 1;
    }
}

button.new-subject-item-submit {
    margin-top: 0.5rem;
    border: 1px solid $darkGrey;
    background: #2f7ef5;
    color: #fff;
    cursor: pointer;
    padding: 0.6rem 0;
    font-size: 0.9rem;
    width: 100%;

    &:focus {
        outline: none;
    }
}

form.subject-delete-form {
    margin: auto;

    .subject-block {
        margin-top: 2.5rem;
        display: block;

        input[type="checkbox"] {
            margin-right: 1rem;
            cursor: pointer;
            border: 1px solid $darkGrey;

            &:checked {
                outline: none;

                & ~ p.subject-title-name-display, & ~ a.extra-info {
                    text-decoration: line-through;
                    text-decoration-color: $blue;
                }
            }
        }

        p.subject-title-name-display {
            font-size: 1.4rem;
            color: $darkGrey;
            text-decoration: none;
            font-weight: 500;
            display: inline;
        }

        a.extra-info {
            font-size: 1.25rem;
            color: $blue;
            text-decoration: none;
            font-weight: 500;
            margin-left: 0.2rem;

            &:hover {
                border-bottom: 1px solid $blue;
            }
        }
    }
}

footer {
    margin-top: 2.8rem;

    a {
        color: #e9e9e9;
    }

    p {
        color: #e9e9e9;
        margin-bottom: 1.2rem;
    }

    a {
        padding: 0.4rem 0.6rem;
        border: 1px solid #e9e9e9;
        font-size: 0.9rem;
        text-decoration: none;
        background: transparent;
        transition: color 200ms linear, background 200ms linear;

        &:hover {
            background: #e9e9e9;
            color: $lightBlue;

            i {
                color: $lightBlue;
            }
        }

        i {
            color: #e9e9e9;
            font-size: 0.9rem;
            margin-right: 0.1rem;
        }
    }
}